* {
    box-sizing: border-box;
}

html, body {
    display: flex;
  }
  
  .header {
    background: #FFD166;
    height: 24%;
  }
  
  #headline {
    font-size: 50px;
  }
  
  h1 {
    font-family: 'Goldman';
  }
  
  #recycle {
    height: 24%;
    position: absolute;
    opacity: 5%;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .icons {
    height: 90%;
    clear: both;
  }
  
  @font-face {
    font-family: "Goldman";
    src: url('../fonts/Goldman-Regular.ttf') format('truetype');
  }