* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    background-color: #118AB2;
  }
  
  .header {
    background: #FFD166;
    height: 24%;
  }
  
  #headline {
    font-size: 50px;
  }
  
  #recycle {
    height: 24%;
    position: absolute;
    opacity: 5%;
  }

  h1 {
    font-family: 'Goldman';
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  @font-face {
    font-family: "Goldman";
    src: url('../fonts/Goldman-Regular.ttf') format('truetype');
  }