
html, body {
  display: flex;
  display: grid;
}

.header {
  display: flex;
  background: #FFD166;
  height: 18%;
}

#headline {
  display: flex;
  color: #002614;
  font-size: 50px;
}

h1 {
  font-family: 'Goldman';
}

#recycle {
  display: flex;
  height: 37%;
  position: absolute;
  opacity: 5%;
}

#metal {
  background: #073b4c
}



.col {
  display: flex;
  flex-direction: column;
}

.icons {
  height: 40%; 
  display: flex;
  filter: invert(100%);
}

.footer {
  display: flex;
  height: 14%;
  margin-bottom: 0;
}

@font-face {
  font-family: "Goldman";
  src: url('fonts/Goldman-Regular.ttf') format('truetype');
}